{% extends "Users/base.html" %}

{% block head %}
    <title>Edit Assignment</title>
{% endblock head %}

{% block body %}

<div class="card">
    <div class="card-header">
        <h1>
            Editing {{a.assignment_name}} of {{course.subject}}{{course.course_code}}
        </h1>
    </div>
</div>
    <form method="post" action="{% url 'Grades:edit_assignment' a.id %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}

        <button name="submit" class="btn btn-primary mt-4">Save Changes</button>
    </form>
{% endblock body %}