{% extends "Users/base.html" %}

{% block head %}
    <title>Assignments</title>
{% endblock head %}

{% block body %}

    <div class="card">
    <div class="card-header">
        <h1>
            Assignments for {{course.subject}}{{course.course_code}}
        </h1>
    </div>
</div>
  <div>
    {% for assgmt in assignments %}
        <div class="row">
          <div class="col-xxl-6 col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12">
              <div class="card overflow-hidden border-primary">
                  <h4 class="card-header fw-semibold text-light bg-primary">{{assgmt.assignment_name}}</h4>
                  <div class="card-body">
                      <div class="d-flex justify-content-center">
                          <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-center">
                              <h3 class="mb-2 fw-semibold text-primary">
                                  <a href="{% url 'Grades:view_assignment' assgmt.id %}"> {{assgmt.assignment_name}} </a> </h3>

                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    {% empty %}
      <div class="card">
          <div class="card-header">
              <h2>
                  No assignments have been added yet
              </h2>
          </div>
      </div>
    {% endfor %}

    {% if is_instructor %}
    <div class="card">
        <div class="card-header">
            <h1>
                <a href="{% url 'Grades:create_assignment' course.id %}">Create new assignment</a>
            </h1>
        </div>
    </div>
    {% endif %}
</div>
{% endblock body %}