{% extends "Users/base.html" %}
{% load mathfilters %}

{% block head %}
    <title>View all Grades</title>
{% endblock head %}

{% block body %}
  
    <div class="card">
    <div class="card-header">
        <h1>
            Grades for {{s.first_name}} {{s.last_name}}
        </h1>
    </div>
</div>
    
    <table class="table table-info table-striped table-bordered border-primary table-responsive-md">
    <tr>
        <th>Course Name</th>
        <th>Grade</th>
    </tr>

    {% for key,val in grades.items %}
    <tr>

        <td>{{key}}</td>

        {% if val %}
        <td>{{val.grade}}</td>
        {% else %}
        <td>-</td>
        {% endif %}
    </tr>
    {% empty %}
    <tr><td>No registered courses found</td><td></td></tr>
        
    {% endfor %}


</table>


{% endblock body %}