{% extends "Users/base.html" %}

{% block head %}
    <title>Course description</title>
{% endblock head %}

{% block body %}
    <h1>{{course.subject}}{{course.course_code}}</h1>
    <p>{{course.course_description}} </p>
    <p>
        <a href="{% url 'Users:view_participants' course.id %}">View Participants</a>
    </p>
    
    {% if registered %}
        <a href="{% url 'Grades:all_assignments' course.id %}">View Assignments</a>
        <br>
        <a href="{% url 'Grades:course_grade' course.id %}">View Grades</a>
    {% endif %}
    
    {% if is_instructor %}
        <a href="{% url 'Grades:all_assignments' course.id %}">View Assignments</a>
        <br>
        <a href="{% url 'Users:edit_course' course.id %}">Edit course</a>
    {% endif %}
    
    {% if can_register %}
        <a href="{% url 'Users:register_for_course' course.id %}">Register for this course</a>
    {% endif %}
{% endblock body %}