{% extends "Users/base.html" %}

{% block head %}
    <title>Login</title>
{% endblock head %}

{% block body %}
    <p>Login page for both</p>
    <form method="post" action="{% url 'Users:login' %}">
        {% csrf_token %}
        {{ form.as_p }}
       
        <button name="submit">Login</button>
        <input type="hidden" name="next" value="{% url 'Users:index' %}" />
    </form>

    <p>
        Don't have an account? <a href="{% url 'Users:register_user' %}">Register Now</a>
    </p>
{% endblock body %}