{% extends "Users/base.html" %}
{% load bootstrap3 %}

{% block head %}
    <title>Login</title>
{% endblock head %}

{% block body %}
<div class="card">
    <div class="card-header">
        <h2 class="page-title">Login</h2>
    </div>
</div>
    <form method="post" action="{% url 'Users:login' %}" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button name="submit" class="btn btn-primary mt-4">Login</button>
        {% endbuttons %}
        <input type="hidden" name="next" value="{% url 'Users:index' %}" />
    </form>


<div class="card">
    <div class="card-header">
        Don't have an account? <a href="{% url 'Users:register_user' %}">Register Now</a>
    </div>
</div>
{% endblock body %}