{% extends "Users/base.html" %}
{% load bootstrap3 %}

{% block head %}
    <title>Register</title>
{% endblock head %}

{% block body %}
<div class="card">
    <div class="card-header">
        <h1 class="page-title">Register as Instructor</h1>
    </div>
</div>
    <form method="post" action="{% url 'Users:register_instructor' %}" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button name="submit" class="btn btn-primary">Complete registration as instructor</button>
        {% endbuttons %}
    </form>
<div class="card">
    <div class="card-header">
        <a href="{% url 'Users:register_student' %}">Click here</a>&nbsp; to register as student
    </div>
</div>
{% endblock body %}