{% extends "Users/base.html" %}

{% block head %}
    <title>Register</title>
{% endblock head %}

{% block body %}
    <p>Registration Page-1</p>

    {% if 'registration_incomplete' in request.session %}
        <a href="{% url 'Users:register_student' %}">Complete registration as student</a>
        <br>
        <a href="{% url 'Users:register_instructor' %}">Complete registration as instructor</a>
    {% else %}
        <form method="post" action="{% url 'Users:register_user' %}" >
            {% csrf_token %}
            {{form.as_p}}

            <button name="submit">Register</button>
        </form>
    {% endif %}
{% endblock body %}