{% extends "Users/base.html" %}

{% block head %}
    <title>Courses</title>
{% endblock head %}

{% block body %}
    <p>Details of all courses</p>
    <ul>
        {% for p in pt %}
            <li>
                <a href="{% url 'Users:course' p.course.id %}"> {{p.course.subject}}{{p.course.course_code}} ({{p.course.year}}-{{p.course.sem}})</a>
            </li>
        
        {% empty %}
            <li>You have not registered for any course</li>
        {% endfor %}

    </ul>
{% endblock body %}