{% extends "Users/base.html" %}

{% block head %}
    <title>Courses</title>
{% endblock head %}

{% block body %}
    <p>Details of all courses</p>
    <ul>
        {% for course in courses %}
            <li>
                <a href="{% url 'Users:course' course.id %}"> {{course.subject}}{{course.course_code}} </a>
            </li>
        
        {% empty %}
            <li>No courses have been added yet</li>
        {% endfor %}

        {% if is_instructor %}
            <li>
                <a href="{% url 'Users:register_new_course' %}"> Register New Course </a>
            </li>
        {% endif %}
    </ul>
{% endblock body %}