{% extends "Users/base.html" %}

{% block head %}
    <title>Courses</title>
{% endblock head %}

{% block body %}
   <div class="card">
    <div class="card-header">
        <h1 class="page-title">My courses</h1>
    </div>
</div>
   <div>
       
    {% for p in pt %}
    <div class="row">
        <div class="col-xxl-6 col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card overflow-hidden border-primary">
                <h4 class="card-header fw-semibold text-light bg-dark">
                    <a href="{% url 'Users:course' p.course.id %}"> {{p.course.subject}}{{p.course.course_code}} ({{p.course.year}}-{{p.course.sem}})
                </h4>
                <div class="card-body">
                    <div class="d-flex justify-content-center">
                        <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-center">
                            <h3 class="mb-2 fw-semibold text-primary">

                                <a href="{% url 'Users:course' p.course.id %}"> {{p.course.course_description}}</a>
                            </h3>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% empty %}
       <div class="card">
           <div class="card-header">
               <h2 class="slide-item">You have no registered courses</h2>
           </div>
       </div>
    {% endfor %}

</div>
   
 

    
{% endblock body %}
