{% extends "Users/base.html" %}
{% load bootstrap3 %}

{% block head %}
    <title>Edit course material</title>
{% endblock head %}

{% block body %}
    
<div class="card">
    <div class="card-body">
        <h1>
            Edit course material for 
            <a href="{% url 'Users:course' course.id %}"> 
                {{course.subject}}{{course.course_code}}
            </a>
        </h1>
    </div>
</div>

    <form method="post" action="{% url 'Docs:edit_doc' doc.id %}" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button name="submit" class="btn btn-primary mt-4">Save</button>
        {% endbuttons %}
    </form>
{% endblock body %}